#### Filtrado de datos de la database principal

#### 1. leemos el archivo desde el cual manipularemos los datos

fuente: https://public.emdat.be/

In [70]:
import pandas as pd

file = pd.read_excel("../database/data_no_procesada/database_2010_2024.xlsx")
file.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,2009-0595-IND,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,GLIDE:CW-2010-000013,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,71.563596,"[{""adm1_code"":1489,""adm1_name"":""Delhi""},{""adm1...",2010-08-04,2023-09-25
1,2010-0002-TJK,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,GLIDE:EQ-2010-000001,NaN,TJK,...,NaN,NaN,NaN,NaN,1500.0,2096.0,71.563596,"[{""adm2_code"":37581,""adm2_name"":""Vanchskiy""}]",2010-02-03,2023-09-25
2,2010-0003-SLB,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,USGS:usp000h5np,NaN,SLB,...,NaN,NaN,NaN,NaN,NaN,NaN,71.563596,"[{""adm2_code"":25652,""adm2_name"":""Administrativ...",2014-05-12,2023-09-25
3,2010-0004-BGD,No,tec-tra-roa-roa,Technological,Transport,Road,Road,NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,71.563596,NaN,2010-01-05,2023-09-25
4,2010-0005-IND,No,tec-tra-rai-rai,Technological,Transport,Rail,Rail,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,71.563596,NaN,2010-01-05,2023-09-25

In [81]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8410 entries, 0 to 8409
Data columns (total 46 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     8410 non-null   object
 1   Historic                                   8410 non-null   object
 2   Classification Key                         8410 non-null   object
 3   Disaster Group                             8410 non-null   object
 4   Disaster Subgroup                          8410 non-null   object
 5   Disaster Type                              8410 non-null   object
 6   Disaster Subtype                           8410 non-null   object
 7   External IDs                               1764 non-null   object
 8   Event Name                                 2558 non-null   object
 9   ISO                                        8410 non-null   object
 10  Country                                    8410 non-null   object
 11  Subregion                                  8410 non-null   object
 12  Region                                     8410 non-null   object
 13  Location                                   7904 non-null   object
 14  Origin                                     2362 non-null   object
 15  Associated Types                           2118 non-null   object
 16  OFDA/BHA Response                          8410 non-null   object
 17  Appeal                                     8410 non-null   object
 18  Declaration                                8410 non-null   object
 19  AID Contribution ('000 US$)                112 non-null    float64
 20  Magnitude                                  1508 non-null   float64
 21  Magnitude Scale                            5627 non-null   object
 22  Latitude                                   902 non-null    float64
 23  Longitude                                  902 non-null    float64
 24  River Basin                                537 non-null    object
 25  Start Year                                 8410 non-null   int64
 26  Start Month                                8361 non-null   float64
 27  Start Day                                  7707 non-null   float64
 28  End Year                                   8410 non-null   int64
 29  End Month                                  8374 non-null   float64
 30  End Day                                    7759 non-null   float64
 31  Total Deaths                               6685 non-null   float64
 32  No. Injured                                3056 non-null   float64
 33  No. Affected                               4201 non-null   float64
 34  No. Homeless                               581 non-null    float64
 35  Total Affected                             6273 non-null   float64
 36  Reconstruction Costs ('000 US$)            23 non-null     float64
 37  Reconstruction Costs, Adjusted ('000 US$)  23 non-null     float64
 38  Insured Damage ('000 US$)                  411 non-null    float64
 39  Insured Damage, Adjusted ('000 US$)        398 non-null    float64
 40  Total Damage ('000 US$)                    1867 non-null   float64
 41  Total Damage, Adjusted ('000 US$)          1826 non-null   float64
 42  CPI                                        8003 non-null   float64
 43  Admin Units                                4643 non-null   object
 44  Entry Date                                 8410 non-null   object
 45  Last Update                                8410 non-null   object
dtypes: float64(20), int64(2), object(24)
memory usage: 3.0+ MB

In [ ]:
df_hydrological = df_hydrological[df_hydrological["Disaster Subgroup"] == "Hydrological"] # filtro por tipo de desastre Hydrological
df_hydrological.info()

#### 2. filtramos las columnas que nos interesa para nuestro analisis

In [72]:
columnas_relevantes = [
    'Start Year', 'Start Month', 'Start Day', 
    'Country', 'Region', 'Location', 'Magnitude', 
    "Disaster Subgroup", 'Total Damage (\'000 US$)', 'Total Deaths', "Disaster Type"
]

df_hydrological = file[columnas_relevantes]
df_hydrological.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8410 entries, 0 to 8409
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Start Year               8410 non-null   int64
 1   Start Month              8361 non-null   float64
 2   Start Day                7707 non-null   float64
 3   Country                  8410 non-null   object
 4   Region                   8410 non-null   object
 5   Location                 7904 non-null   object
 6   Magnitude                1508 non-null   float64
 7   Disaster Subgroup        8410 non-null   object
 8   Total Damage ('000 US$)  1867 non-null   float64
 9   Total Deaths             6685 non-null   float64
 10  Disaster Type            8410 non-null   object
dtypes: float64(5), int64(1), object(5)
memory usage: 722.9+ KB

#### 3. Filtramos por el tipo de desastre hydrological
el cual es el tipo de desastre que vamos a analizar

In [74]:
df_hydrological = df_hydrological[df_hydrological["Disaster Subgroup"] == "Hydrological"] # filtro por tipo de desastre Hydrological
df_hydrological.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2685 entries, 6 to 8400
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Start Year               2685 non-null   int64
 1   Start Month              2684 non-null   float64
 2   Start Day                2542 non-null   float64
 3   Country                  2685 non-null   object
 4   Region                   2685 non-null   object
 5   Location                 2662 non-null   object
 6   Magnitude                506 non-null    float64
 7   Disaster Subgroup        2685 non-null   object
 8   Total Damage ('000 US$)  706 non-null    float64
 9   Total Deaths             2053 non-null   float64
 10  Disaster Type            2685 non-null   object
dtypes: float64(5), int64(1), object(5)
memory usage: 251.7+ KB

#### 4. Filtamos los datos de magnitud para que no nos queden datos NaN

Magnitude, es la variable en la cual basaremos nuestro analisis, por lo tanto no pueden quedar datos NaN

In [67]:
df_hydrological_magnitude = df_hydrological[df_hydrological["Magnitude"] >= 0]
df_hydrological_magnitude.info()

<class 'pandas.core.frame.DataFrame'>
Index: 506 entries, 16 to 7898
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Start Year               506 non-null    int64
 1   Start Month              506 non-null    float64
 2   Start Day                496 non-null    float64
 3   Country                  506 non-null    object
 4   Region                   506 non-null    object
 5   Location                 504 non-null    object
 6   Magnitude                506 non-null    float64
 7   Disaster Subgroup        506 non-null    object
 8   Total Damage ('000 US$)  196 non-null    float64
 9   Total Deaths             410 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 43.5+ KB

#### 5. Verificamos el numero de datos nulos con los que trabajamos
notamos que la unica variable con muchos datos datos nulos es Total Damage, pero esto se limpiara en el jupyter del analisis
de dicha variable.

In [61]:
df_hydrological_magnitude.isnull().sum()

Start Year                   0
Start Month                  0
Start Day                   10
Country                      0
Region                       0
Location                     2
Magnitude                    0
Disaster Subgroup            0
Total Damage ('000 US$)    310
Total Deaths                96
dtype: int64

#### 6. Guardamos esta informacion en un nuevo excel para manipular a partir de este nuestro analisis principal

Estudiaremos tanto la relacion entre magnitud-total de muertos y magnitud-daños economicos

In [63]:
df_hydrological_magnitude.to_excel("../database/data_procesada/database_2010_2024.xlsx")